@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151313 !important;
}

p {
  font-family: "Albert Sans";
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  margin: 0px;
}
